---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout>
  <main class="w-full">
    <h3 class="font-bold mt-2.5 mb-2.5">Controlli</h3>
    <button
      id="call"
      class="w-full mb-2 bg-amber-500 text-white font-semibold text-4xl"
      >Chiamata</button
    >
    <button
      id="challenge"
      class="w-full mb-2 bg-amber-500 text-white font-semibold text-4xl"
      >Sfida</button
    >
    <ul class="space-y-2 w-full">
      <li class="py-2.5"><h3 class="font-bold">Rossi</h3></li>
      <li>
        <button
          aria-disabled="false"
          data-color="red"
          data-index="0"
          class="cursor-pointer transition-all aria-disabled:bg-gray-500 px-5 py-2 bg-red-500 text-white font-semibold text-4xl w-full"
          >Item 1</button
        >
      </li>
      <li>
        <button
          aria-disabled="false"
          data-color="red"
          data-index="1"
          class="cursor-pointer transition-all aria-disabled:bg-gray-500 px-5 py-2 bg-red-500 text-white font-semibold text-4xl w-full"
          >Item 1</button
        >
      </li>
      <li>
        <button
          aria-disabled="false"
          data-color="red"
          data-index="2"
          class="cursor-pointer transition-all aria-disabled:bg-gray-500 px-5 py-2 bg-red-500 text-white font-semibold text-4xl w-full"
          >Item 1</button
        >
      </li>
      <li>
        <button
          aria-disabled="false"
          data-color="red"
          data-index="3"
          class="cursor-pointer transition-all aria-disabled:bg-gray-500 px-5 py-2 bg-red-500 text-white font-semibold text-4xl w-full"
          >Item 1</button
        >
      </li>
      <li>
        <button
          aria-disabled="false"
          data-color="red"
          data-index="4"
          class="cursor-pointer transition-all aria-disabled:bg-gray-500 px-5 py-2 bg-red-500 text-white font-semibold text-4xl w-full"
          >Item 1</button
        >
      </li>
      <li>
        <button
          aria-disabled="false"
          data-color="red"
          data-index="5"
          class="cursor-pointer transition-all aria-disabled:bg-gray-500 px-5 py-2 bg-red-500 text-white font-semibold text-4xl w-full"
          >Item 1</button
        >
      </li>
      <li>
        <button
          aria-disabled="false"
          data-color="red"
          data-index="6"
          class="cursor-pointer transition-all aria-disabled:bg-gray-500 px-5 py-2 bg-red-500 text-white font-semibold text-4xl w-full"
          >Item 1</button
        >
      </li>
      <li>
        <button
          aria-disabled="false"
          data-color="red"
          data-index="7"
          class="cursor-pointer transition-all aria-disabled:bg-gray-500 px-5 py-2 bg-red-500 text-white font-semibold text-4xl w-full"
          >Item 1</button
        >
      </li>
      <li>
        <button
          aria-disabled="false"
          data-color="red"
          data-index="8"
          class="cursor-pointer transition-all aria-disabled:bg-gray-500 px-5 py-2 bg-red-500 text-white font-semibold text-4xl w-full"
          >Item 1</button
        >
      </li>
      <li>
        <button
          aria-disabled="false"
          data-color="red"
          data-index="9"
          class="cursor-pointer transition-all aria-disabled:bg-gray-500 px-5 py-2 bg-red-500 text-white font-semibold text-4xl w-full"
          >Item 1</button
        >
      </li>
      <li class="py-2.5"><h3 class="font-bold">Blue</h3></li>
      <li>
        <button
          aria-disabled="false"
          data-color="blue"
          data-index="0"
          class="cursor-pointer transition-all aria-disabled:bg-gray-500 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl w-full"
          >Item 1</button
        >
      </li>
      <li>
        <button
          aria-disabled="false"
          data-color="blue"
          data-index="1"
          class="cursor-pointer transition-all aria-disabled:bg-gray-500 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl w-full"
          >Item 1</button
        >
      </li>
      <li>
        <button
          aria-disabled="false"
          data-color="blue"
          data-index="2"
          class="cursor-pointer transition-all aria-disabled:bg-gray-500 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl w-full"
          >Item 1</button
        >
      </li>
      <li>
        <button
          aria-disabled="false"
          data-color="blue"
          data-index="3"
          class="cursor-pointer transition-all aria-disabled:bg-gray-500 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl w-full"
          >Item 1</button
        >
      </li>
      <li>
        <button
          aria-disabled="false"
          data-color="blue"
          data-index="4"
          class="cursor-pointer transition-all aria-disabled:bg-gray-500 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl w-full"
          >Item 1</button
        >
      </li>
      <li>
        <button
          aria-disabled="false"
          data-color="blue"
          data-index="5"
          class="cursor-pointer transition-all aria-disabled:bg-gray-500 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl w-full"
          >Item 1</button
        >
      </li>
      <li>
        <button
          aria-disabled="false"
          data-color="blue"
          data-index="6"
          class="cursor-pointer transition-all aria-disabled:bg-gray-500 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl w-full"
          >Item 1</button
        >
      </li>
      <li>
        <button
          aria-disabled="false"
          data-color="blue"
          data-index="7"
          class="cursor-pointer transition-all aria-disabled:bg-gray-500 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl w-full"
          >Item 1</button
        >
      </li>
      <li>
        <button
          aria-disabled="false"
          data-color="blue"
          data-index="8"
          class="cursor-pointer transition-all aria-disabled:bg-gray-500 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl w-full"
          >Item 1</button
        >
      </li>
      <li>
        <button
          aria-disabled="false"
          data-color="blue"
          data-index="9"
          class="cursor-pointer transition-all aria-disabled:bg-gray-500 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl w-full"
          >Item 1</button
        >
      </li>
    </ul>
    <h3 class="font-bold mt-2.5 mb-2.5">RESET TOTALE</h3>
    <button
      id="reset"
      class="w-full mb-2 bg-amber-500 text-white font-semibold text-4xl"
      >RESET DEL GIOCO - ATTENZIONE</button
    >
  </main>
</MainLayout>
<script>
  import { actions } from "astro:actions";
  import type { GameState } from "../stateType";

  document.getElementById("reset")?.addEventListener("click", async () => {
    const { data } = await actions.resetGame();
    if (!data) return;

    document
      .querySelectorAll("button[data-color][data-index]")
      .forEach((button) => {
        button.setAttribute("aria-disabled", "false");
      });
  });

  document
    .getElementById("call")
    ?.addEventListener("click", async () => actions.sendEvent("call"));
  document.getElementById("challenge")?.addEventListener("click", async () => {
    const { data } = await actions.getsPacksState();
    if (data && data.currentEvent === "challenge") {
      await actions.sendEvent("none");
    } else {
      await actions.sendEvent("challenge");
    }
  });
  document
    .querySelectorAll("button[data-color][data-index]")
    .forEach((button) => {
      button.addEventListener("click", async () => {
        const color = (button as HTMLButtonElement).dataset.color as
          | "red"
          | "blue";
        const index = (button as HTMLButtonElement).dataset.index as string;

        const state =
          button.getAttribute("aria-disabled") === "true"
            ? await actions.closePack({
                color,
                index,
              })
            : await actions.openPack({
                color,
                index,
              });

        state.data?.redPacks.forEach((packState, i) => {
          const targetButton = document.querySelector(
            `button[data-color="red"][data-index="${i}"]`,
          ) as HTMLButtonElement;
          if (targetButton) {
            targetButton.setAttribute(
              "aria-disabled",
              packState === "opened" ? "true" : "false",
            );
          }
        });
        state.data?.bluePacks.forEach((packState, i) => {
          const targetButton = document.querySelector(
            `button[data-color="blue"][data-index="${i}"]`,
          ) as HTMLButtonElement;
          if (targetButton) {
            targetButton.setAttribute(
              "aria-disabled",
              packState === "opened" ? "true" : "false",
            );
          }
        });
      });
    });

  const updateButtons = (data: GameState) => {
    data.redPacks.forEach((packState, i) => {
      const button = document.querySelector(
        `button[data-color="red"][data-index="${i}"]`,
      );
      if (button)
        (button as HTMLButtonElement).setAttribute(
          "aria-disabled",
          packState === "opened" ? "true" : "false",
        );
    });

    data.bluePacks.forEach((packState, i) => {
      const button = document.querySelector(
        `button[data-color="blue"][data-index="${i}"]`,
      );
      if (button)
        (button as HTMLButtonElement).setAttribute(
          "aria-disabled",
          packState === "opened" ? "true" : "false",
        );
    });
  };

  const pollState = async () => {
    const state = await actions.getsPacksState();
    console.log(state);

    if (state.data) updateButtons(state.data);
  };

  document.onload = pollState;

  pollState();
  setInterval(pollState, 3000);
</script>
