---
import { Image } from "astro:assets";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout>
  <ul class="space-y-2">
    <li><button data-color="red" data-index="0" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:-translate-x-12 px-5 py-2 bg-red-500 text-white font-semibold text-4xl min-w-60 text-end">Buonanotte da Roby e Banza</button></li>
    <li><button data-color="red" data-index="1" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:-translate-x-12 px-5 py-2 bg-red-500 text-white font-semibold text-4xl min-w-60 text-end">Sfida o cestino cortesia</button></li>
    <li><button data-color="red" data-index="2" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:-translate-x-12 px-5 py-2 bg-red-500 text-white font-semibold text-4xl min-w-60 text-end">Scelta preghiera del giorno</button></li>
    <li><button data-color="red" data-index="3" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:-translate-x-12 px-5 py-2 bg-red-500 text-white font-semibold text-4xl min-w-60 text-end">Sfida o cestino cortesia</button></li>
    <li><button data-color="red" data-index="4" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:-translate-x-12 px-5 py-2 bg-red-500 text-white font-semibold text-4xl min-w-60 text-end">Sfida o cestino cortesia</button></li>
    <li><button data-color="red" data-index="5" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:-translate-x-12 px-5 py-2 bg-red-500 text-white font-semibold text-4xl min-w-60 text-end">100€</button></li>
    <li><button data-color="red" data-index="6" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:-translate-x-12 px-5 py-2 bg-red-500 text-white font-semibold text-4xl min-w-60 text-end">Sfida o cestino cortesia</button></li>
    <li><button data-color="red" data-index="7" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:-translate-x-12 px-5 py-2 bg-red-500 text-white font-semibold text-4xl min-w-60 text-end">Cassa d'acqua</button></li>
    <li><button data-color="red" data-index="8" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:-translate-x-12 px-5 py-2 bg-red-500 text-white font-semibold text-4xl min-w-60 text-end">Sfida o cestino cortesia</button></li>
    <li><button data-color="red" data-index="9" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:-translate-x-12 px-5 py-2 bg-red-500 text-white font-semibold text-4xl min-w-60 text-end">Servizio bagagli edu</button></li>
  </ul>
  <ul class="space-y-2">
     <li><button data-color="blue" data-index="0" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:translate-x-12 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl min-w-60 text-start">Cioccolatini</button></li>
    <li><button data-color="blue" data-index="1" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:translate-x-12 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl min-w-60 text-start">Sfida o cestino cortesia</button></li>
    <li><button data-color="blue" data-index="2" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:translate-x-12 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl min-w-60 text-start">2€ caramelle</button></li>
    <li><button data-color="blue" data-index="3" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:translate-x-12 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl min-w-60 text-start">Sfida o cestino cortesia</button></li>
    <li><button data-color="blue" data-index="4" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:translate-x-12 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl min-w-60 text-start">Souvenir assisi</button></li>
    <li><button data-color="blue" data-index="5" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:translate-x-12 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl min-w-60 text-start">Sfida o cestino cortesia</button></li>
    <li><button data-color="blue" data-index="6" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:translate-x-12 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl min-w-60 text-start">Regalo</button></li>
    <li><button data-color="blue" data-index="7" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:translate-x-12 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl min-w-60 text-start">Sfida o cestino cortesia</button></li>
    <li><button data-color="blue" data-index="8" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:translate-x-12 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl min-w-60 text-start">Regalo</button></li>
    <li><button data-color="blue" data-index="9" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:translate-x-12 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl min-w-60 text-start">Servizio bagagli</button></li>
  </ul>
  <div aria-hidden="true" id="call" class="aria-hidden:hidden absolute top-0 left-0 right-0 bottom-0 flex justify-center items-center bg-gray-500/45" >
    <Image src="/telefono.jpg" alt="telefono" width={350} height={300}></Image>
  </div>
  <div aria-hidden="true" id="challenge" class="aria-hidden:hidden absolute top-0 left-0 right-0 bottom-0 flex justify-center items-center bg-gray-500/45" >
    <h2 class="text-9xl text-red-700">SFIDA</h2>
  </div>
</MainLayout>
<script>
  import { updateUI } from "../utils/domHelpers";

  const protocol = location.protocol === "https:" ? "wss:" : "ws:";
  const ws = new WebSocket(`${protocol}//${location.host}/ws`);

  ws.onmessage = (event) => {
    updateUI(JSON.parse(event.data));
  };

  ws.onclose = () => {
    setTimeout(() => location.reload(), 2000);
  };
</script>
