---
import { Image } from "astro:assets";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout>
  <ul class="space-y-2">
    <li><button data-color="red" data-index="0" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:-translate-x-12 px-5 py-2 bg-red-500 text-white font-semibold text-4xl min-w-60 text-end">Item 1</button></li>
    <li><button data-color="red" data-index="1" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:-translate-x-12 px-5 py-2 bg-red-500 text-white font-semibold text-4xl min-w-60 text-end">Item 1</button></li>
    <li><button data-color="red" data-index="2" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:-translate-x-12 px-5 py-2 bg-red-500 text-white font-semibold text-4xl min-w-60 text-end">Item 1</button></li>
    <li><button data-color="red" data-index="3" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:-translate-x-12 px-5 py-2 bg-red-500 text-white font-semibold text-4xl min-w-60 text-end">Item 1</button></li>
    <li><button data-color="red" data-index="4" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:-translate-x-12 px-5 py-2 bg-red-500 text-white font-semibold text-4xl min-w-60 text-end">Item 1</button></li>
    <li><button data-color="red" data-index="5" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:-translate-x-12 px-5 py-2 bg-red-500 text-white font-semibold text-4xl min-w-60 text-end">Item 1</button></li>
    <li><button data-color="red" data-index="6" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:-translate-x-12 px-5 py-2 bg-red-500 text-white font-semibold text-4xl min-w-60 text-end">Item 1</button></li>
    <li><button data-color="red" data-index="7" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:-translate-x-12 px-5 py-2 bg-red-500 text-white font-semibold text-4xl min-w-60 text-end">Item 1</button></li>
    <li><button data-color="red" data-index="8" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:-translate-x-12 px-5 py-2 bg-red-500 text-white font-semibold text-4xl min-w-60 text-end">Item 1</button></li>
    <li><button data-color="red" data-index="9" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:-translate-x-12 px-5 py-2 bg-red-500 text-white font-semibold text-4xl min-w-60 text-end">Item 1</button></li>
  </ul>
  <ul class="space-y-2">
     <li><button data-color="blue" data-index="0" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:translate-x-12 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl min-w-60 text-start">Item 1</button></li>
    <li><button data-color="blue" data-index="1" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:translate-x-12 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl min-w-60 text-start">Item 1</button></li>
    <li><button data-color="blue" data-index="2" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:translate-x-12 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl min-w-60 text-start">Item 1</button></li>
    <li><button data-color="blue" data-index="3" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:translate-x-12 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl min-w-60 text-start">Item 1</button></li>
    <li><button data-color="blue" data-index="4" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:translate-x-12 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl min-w-60 text-start">Item 1</button></li>
    <li><button data-color="blue" data-index="5" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:translate-x-12 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl min-w-60 text-start">Item 1</button></li>
    <li><button data-color="blue" data-index="6" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:translate-x-12 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl min-w-60 text-start">Item 1</button></li>
    <li><button data-color="blue" data-index="7" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:translate-x-12 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl min-w-60 text-start">Item 1</button></li>
    <li><button data-color="blue" data-index="8" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:translate-x-12 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl min-w-60 text-start">Item 1</button></li>
    <li><button data-color="blue" data-index="9" class="cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:translate-x-12 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl min-w-60 text-start">Item 1</button></li>
  </ul>
  <div aria-hidden="true" id="call" class="aria-hidden:hidden absolute top-0 left-0 right-0 bottom-0 flex justify-center items-center bg-gray-500/45" >
    <Image src="/telefono.jpg" alt="telefono" width={350} height={300}></Image>
  </div>
  <div aria-hidden="true" id="challenge" class="aria-hidden:hidden absolute top-0 left-0 right-0 bottom-0 flex justify-center items-center bg-gray-500/45" >
    <h2 class="text-9xl text-red-700">SFIDA</h2>
  </div>
</MainLayout>
<script>
  import { actions } from "astro:actions";
  import { updateUI } from "../utils/domHelpers";
  import { setupPolling } from "../utils/pollingHelpers";

  const pollState = async () => {
    const state = await actions.getsPacksState();
    if (state.data) {
      updateUI(state.data);
    }
  };

  // Initialize when DOM is ready
  if (document.readyState === "loading") {
    document.addEventListener("DOMContentLoaded", () => {
      setupPolling(pollState);
    });
  } else {
    setupPolling(pollState);
  }
</script>
